<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/ASUS/juaracoding/sqabatch11/JCAppium/src/test/java/com/juaracoding/IncomeTest.java">
        <classes>
            <class name="com.juaracoding.IncomeTest">
                <methods>
                    <include name="testIncome"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ASUS/juaracoding/sqabatch11/JCAppium/src/test/java/com/juaracoding/OutcomeTest.java">
        <classes>
            <class name="com.juaracoding.OutcomeTest">
                <methods>
                    <include name="testOutcome"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>